.wrapper {
  display: inline-block;
  position: relative;
  text-align: center;
  border: 1px solid #ddd;
  padding: 4px;
  border-radius: 4px;
}

.name {
  font-size: 20px;
  font-family: sans-serifs;
  color: grey;
}

.provider-title {
  display: none;
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 24px;
  font-family: sans-serifs;
  color: red;
}

.wrapper:hover .provider-title {
  display: block;
}
